#
# dotenv example file
#

AWS_REGION="us-east-2"                               # aws region to host your app
REPO_ORIGIN="git://github.com/norumin/bitwarden.git" # git repository who owns this infrastructure
BACKEND_BUCKET=""                                    # your backend bucket
BACKEND_LOCKTABLE=""                                 # your backend lock table
BACKEND_REGION=""                                    # aws region where you backend is hosted

APP_NAME="Norumin Password Vault"                    # name of this app
APP="bitwarden"                                      # url friendly name of this app
STAGE="production"                                   # stage of deployment (e.g production, staging, etc)
DOMAIN="bitwarden.norumin.com"                       # domain name to host this app
